<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>Fake Dynamic Island</string>
  <key>CFBundleDisplayName</key><string>Fake Dynamic Island</string>
  <key>CFBundleExecutable</key><string>FakeDynamicIslandPrefs</string>
  <key>CFBundleIdentifier</key><string>com.you.fakedi.prefs</string>
  <key>CFBundlePackageType</key><string>BNDL</string>
  <key>CFBundleShortVersionString</key><string>1.0.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>entry</key>
  <dict>
    <key>cell</key><string>PSLinkCell</string>
    <key>label</key><string>Fake Dynamic Island</string>
    <key>bundle</key><string>FakeDynamicIslandPrefs</string>
    <key>isController</key><true/>
  </dict>
</dict>
</plist>
